header {
    height: 40px;
    padding: 10px;
    background-color: orange;
    color: white;
    text-align: center;
    border-bottom: 1px solid black;
}

main {
    margin:  15px;
    padding: 20px, 30px, 20px, 30px;
    width: 90vw;
    height: 80vh;
}

article {
    margin: 25px, 25px;
}

h1, h2 {
    font-family: Arial;
}

p {
    font-family: Helvetica;
}

.destaque {
    color: orange;
}

footer {
    height: 40px;
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
